[Unit]
Description=Octane
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
WorkingDirectory=$HOME/.octane/
ExecStart=/usr/bin/sxhkd -c $HOME/.octane/octane.sxhkdrc

[Install]
WantedBy=multi-user.target
